.ajr-container {
    display: flex;
    flex-wrap: wrap;
}

.ajr-container-column {
    display: flex;
    flex-direction: column;
}

.ajr-item {
    border-style: dotted;
    flex-grow: 1;
    width: 32%;
    min-width: 250px;
}

.ajr-item-25 {
    border-style: dotted;
    flex-grow: 1;
    width: 23%;
    min-width: 50px;
}

.ajr-item-50 {
    border-style: dotted;
    flex-grow: 1;
    width: 45%;
}

.ajr-item-65 {
    border-style: dotted;
    flex-grow:1;
    width: 65%;
    min-width: 250px;
}

.ajr-item-100 {
    border-style: dotted;
    flex-grow:1;
    width: 100%;
    min-width: 250px;
}


.ajr-inner-item {
    border-style: dotted;
    flex-grow: 1;
    width: 32%;
    min-width: 50px;
}

input {
    width: 100%;
}

.menudots {
    color: blue;
    margin-right: 5px;
    font-size: 25px;
}

.menudots:hover{
    cursor:pointer;
    color: green;
}

.searchicon {
    color: blue;
    font-size: 15px;
}

.searchicon:hover{
    cursor:pointer;
    color:green;
}

.ajr-align-right {
    text-align: right;
}

.ajr-green-btn{
    background-color:green;
    color: white;
    border-radius: 5px;
    width: 100%;
}

.ajr-blue-btn{
    background-color:blue;
    color: white;
    border-radius: 5px;
    width: 100%;
}

.ajr-black-btn {
    background-color:black;
    color:white;
    border-radius: 8px;
    width: 100%;
}

.ajr-login-btn {
    background-color:green;
    color:white;
    border-radius: 8px;
}

.ajr-right{
    float: right;
}

.ajr-center{
    text-align: center;
}

.ajr-login-link{
    color:black;
}

.ajr-login-link:hover{
    color:blue;
    cursor: pointer;
}

h2:hover {
    color:blue;
    cursor:pointer;
}

.ajr-cancel-btn {
    background-color:darkred;
    color:white;
    font-weight: bold;
    border-radius: 8px;
}